## Backend
STORAGE_TYPE=minio
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=ROOTUSER
MINIO_ROOT_PASSWORD=CHANGEME123
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=notes
MAX_DOWNLOAD_ATTEMPTS=5
SURREALDB_ENDPOINT=ws://surrealdb:8000/rpc

## App
NEXT_PUBLIC_SERVER_IP=http://192.168.1.104

## Blog
PUBLIC_REMARK_URL

## Remark
REMARK_URL
SECRET
DEBUG=true
AUTH_GOOGLE_CID
AUTH_GOOGLE_CSEC
AUTH_GITHUB_CID
AUTH_GITHUB_CSEC
AUTH_FACEBOOK_CID
AUTH_FACEBOOK_CSEC
AUTH_DISQUS_CID
AUTH_DISQUS_CSEC
ADMIN_PASSWD

ADMIN_SHARED_ID
