# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
deploy/remark42/*.bak
deploy/remark42/.env
deploy/remark42/var
deploy/remark42/kustomize/overlays/generators/files/.env

# macOS-specific files
.DS_Store

.astro

.unlighthouse
*.bak

src/content/blogs/test*
src/content/blogs/_*
