---
import Base from "@layouts/Base.astro";
import type { BlogPostFrontmatter } from "@types";
import { formattedDate } from "@utils";

const posts = await Astro.glob<BlogPostFrontmatter>("./*.md");
---

<Base title="Blog">
  <h1 class="mb-8 text-6xl">Blog</h1>
  <div>
    {
      posts.map((post) => (
        <div class="py-4 border-b first:border-t">
          <a class="text-blue-700 hover:underline" href={post.url}>
            {post.frontmatter.title}
          </a>
          <p>{formattedDate(post.frontmatter.date)}</p>
        </div>
      ))
    }
  </div>
</Base>
