---
import Base from "@layouts/Base.astro";
import type { BlogPostFrontmatter } from "@types";
import type { MarkdownInstance } from "astro";
import { formattedDate } from "@utils";

let posts = await Astro.glob<BlogPostFrontmatter>("./*.md");

type post = MarkdownInstance<BlogPostFrontmatter>;

posts = posts.sort((a: post, b: post): number => {
  if (a.frontmatter.date > b.frontmatter.date) {
    return -1;
  } else if (a.frontmatter.date < b.frontmatter.date) {
    return 1;
  } else {
    return 0;
  }
});
---

<Base title="Blog">
  <h1 class="mb-8 text-6xl">Blog</h1>
  <div>
    {
      posts.map((post) => (
        <div class="py-4 border-b first:border-t">
          <a class="text-blue-700 hover:underline" href={post.url}>
            {post.frontmatter.title}
          </a>
          <p>{formattedDate(post.frontmatter.date)}</p>
        </div>
      ))
    }
  </div>
</Base>
