---
import { formattedDate } from "@utils/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blogs">[];
}
let { posts } = Astro.props;

posts = posts.sort((a, b) => {
  if (a.data.created > b.data.created) {
    return -1;
  } else if (a.data.created < b.data.created) {
    return 1;
  } else {
    return 0;
  }
});

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.data.draft);
}
---

<div>
  {
    posts.map((post) => (
      <div class="py-4 border-b first:border-t border-primary">
        {post.data.draft && (
          <span class="bg-error-content text-primary inline-block px-2">
            [Draft]
          </span>
        )}
        <a
          class="hover:italic hover:underline font-bold"
          href={`/blogs/${post.slug}`}
        >
          {post.data.title}
        </a>
        <p>{formattedDate(post.data.created.toString())}</p>
      </div>
    ))
  }
</div>
