---
import Github from "@icons/github.astro";
import Logo from "@icons/logo.astro";
import Rss from "@icons/rss.astro";
const iconSize = "w-5 h-5 cursor-pointer";
---

<footer class="footer p-2 bg-base-100 text-xs flex justify-between">
  <div class="flex">
    <a aria-label="Code source of this blog" class="" href={"/"} target="self">
      <Logo color="stroke-base-content" size={iconSize} />
    </a>
    <p class="my-auto">
      © <span id="year"></span>
      <span class="font-bold">VoidBox</span> - All right reserved
    </p>
  </div>

  <div class="flex my-auto">
    <a
      aria-label="Code source of this blog"
      class=""
      href={"rss.xml"}
      target="_blank"
    >
      <div class="flex">
        <div class="mr-2 tooltip" data-tip="RSS">
          <Rss color=" fill-current mt-auto" size={iconSize} />
        </div>
      </div>
    </a>
    <a
      aria-label="Code source of this blog"
      class=""
      href={"https://github.com/LoneExile/blog"}
      target="_blank"
    >
      <div class="mr-4 tooltip" data-tip="Code">
        <Github color="fill-current mt-auto" size={iconSize} />
      </div>
    </a>
  </div>
</footer>

<script>
  const date = new Date();
  const year = date.getFullYear();
  const copyrightElement = document.querySelector("#year");
  if (copyrightElement) {
    copyrightElement.innerHTML = year.toString();
  }
</script>
