---
import Github from "@icons/github.astro";
import Logo from "@icons/logo.astro";
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content mt-auto">
  <div class="items-center grid-flow-col">
    <Logo color="stroke-base-content" size="w-10 h-10" />
    <p>
      © <span id="year"></span>
      <span class="font-bold">VoidBox</span> - All right reserved
    </p>
  </div>
  <a class="grid-flow-col gap-4 md:place-self-center md:justify-self-end" href={'https://github.com/LoneExile/blog'} target="_blank">
    <Github color="fill-current" size="w-6 h-6 cursor-pointer" />
  </a>
</footer>

<script>
  const date = new Date();
  const year = date.getFullYear();
  const copyrightElement = document.querySelector("#year");
  if (copyrightElement) {
    copyrightElement.innerHTML = year.toString();
  }
</script>
