---
import Discord from "@icons/discord.astro";
import Github from "@icons/github.astro";
import Logo from "@icons/logo.astro";
import Rss from "@icons/rss.astro";
import Twitter from "@icons/twitter.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  language: string;
}
const { language } = Astro.props;
---

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href={getRelativeLocaleUrl(language, "")} class="flex items-center">
          <Logo color="stroke-current mr-4 dark:text-white" size="w-10 h-10" />

          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >VoidBox</span
          >
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Resources
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                target="_blank"
                href="https://github.com/LoneExile/blog"
                class="hover:underline">Source Code</a
              >
            </li>

            <!-- <li class="mb-4"> -->
            <!--   <a href="#" class="hover:underline">Changelog</a> -->
            <!-- </li> -->
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Follow Me
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                target="_blank"
                href="https://github.com/LoneExile"
                class="hover:underline">Github</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/in/apinant-moo/"
                class="hover:underline">Linkedin</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href={getRelativeLocaleUrl(language, "privacy-policy")}
                class="hover:underline">Privacy Policy</a
              >
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(language, "terms-and-conditions")}
                class="hover:underline">Terms &amp; Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2024 <a
          href={getRelativeLocaleUrl(language, "")}
          class="hover:underline">VoidBox</a
        >. All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          target="_blank"
          href="https://discord.gg/9rdch37uDe"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <Discord color="fill-current" size="w-4 h-4" />
          <span class="sr-only">Discord community</span>
        </a>
        <a
          target="_blank"
          href="https://twitter.com/L0neExile"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <Twitter color="fill-current" size="w-4 h-4" />
          <span class="sr-only">Twitter page</span>
        </a>
        <a
          target="_blank"
          href="https://github.com/LoneExile"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <Github color="fill-current" size="w-4 h-4" />
          <span class="sr-only">GitHub account</span>
        </a>
        <a
          target="_blank"
          href={getRelativeLocaleUrl(language, "rss.xml").slice(-1) === "/"
            ? getRelativeLocaleUrl(language, "rss.xml").slice(0, -1)
            : getRelativeLocaleUrl(language, "rss.xml")}
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <Rss color="fill-current" size="w-4 h-4" />
          <span class="sr-only">GitHub account</span>
        </a>
      </div>
    </div>
  </div>
</footer>
