---
// import RightArrow from "@icons/arrow-right.astro";
import NoteBook from "@assets/writing_books.png";
import { Image } from "astro:assets";
---

<section class="bg-white dark:bg-gray-900">
  <div
    class="grid max-w-screen-xl px-4 py-1 mx-auto lg:gap-8 xl:gap-0 lg:py-1 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
      >
        Digital archive
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        transforming fleeting thoughts into lasting blogs. <br />
        Enjoy your journey through Voidbox!
      </p>
      <!-- <a -->
      <!--   href="#" -->
      <!--   class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" -->
      <!-- > -->
      <!--   Read Articles -->
      <!--   <RightArrow color="fill-current" size="w-5 h-5 ml-2 -mr-1" /> -->
      <!-- </a> -->
      <!-- <a -->
      <!--   href="#" -->
      <!--   class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800" -->
      <!-- > -->
      <!--   Contact Me -->
      <!-- </a> -->
    </div>
    <!-- TODO: HL on img? -->
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <Image width="493.34" height="493.34" src={NoteBook} alt="NoteBook" />
    </div>
  </div>
</section>
