---
import Hamburger from "@icons/hamburger.astro";
import Logo from "@icons/logo.astro";
import Setting from "@icons/setting.astro";
import ThemeSwitcher from "@components/ThemeSwitcher";

type NavItem = {
  title: string;
  path: string;
};

const items: NavItem[] = [
  {
    title: "Blog",
    path: "/blogs/",
  },
  {
    title: "About",
    path: "/about/",
  },
];
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <Hamburger size="inline-block w-6 h-6" color="" />
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 p-2 shadow rounded-box w-52"
      >
        {
          items.map((item) => (
            <li>
              <a href={item.path}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <a class="flex flex-1" href={`/`} aria-label="VoidBox">
      <Logo color="stroke-base-content" size="w-9 h-9" />
      <div id="siteName" class="hidden lg:block px-2 mx-2 pt-2">VoidBox</div>
    </a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      {
        items.map((item) => (
          <li>
            <a href={item.path}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <div class="dropdown dropdown-end" id="setting-menu">
      <label tabindex={0} class="btn btn-ghost rounded-btn">
        <Setting color="stroke-base-content" size="w-6 h-6" />
      </label>
      <ul
        tabindex={0}
        class="menu dropdown-content shadow bg-base-200 rounded-box mt-2"
      >
        <ThemeSwitcher client:visible />
      </ul>
    </div>
  </div>
</div>

<script>
  // HACK: lazy load toggle theme button

  document.querySelector(".swap")?.classList.add("hidden");

  document
    .querySelector("#setting-menu")
    ?.addEventListener("click", function () {
      document?.querySelector(".swap")?.classList.remove("hidden");
    });
</script>
