---
import Hamburger from "@icons/hamburger.astro";
import Logo from "@icons/logo.astro";

type NavItem = {
  title: string;
  path: string;
};

const items: NavItem[] = [
  {
    title: "Home",
    path: "/",
  },

  {
    title: "Blog",
    path: "/blogs",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-neutral">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <Hamburger size="inline-block w-6 h-6" color="stroke-current" />
        </label>
      </div>
      <div class="flex-1">
        <Logo color="stroke-base-content" size="w-10 h-10" />
        <div id="siteName" class="hidden lg:block px-2 mx-2">VoidBox</div>
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          {
            items.map((item) => (
              <li>
                <a href={item.path}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-neutral-focus">
      <!-- Sidebar content here -->
      {
        items.map((item) => (
          <li>
            <a href={item.path}>{item.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
