---
import ThemeSwitcher from "@components/theme/ThemeSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Logo from "@icons/logo.astro";
import Hambuger from "@icons/hamburger2.astro";

interface Props {
  currentPath: string;
  language: string;
}

const { currentPath, language } = Astro.props;

type NavItem = {
  title: string;
  path: string;
};

const items: NavItem[] = [
  {
    title: "Home",
    path: getRelativeLocaleUrl(language, ""),
  },
  {
    title: "Articles",
    path: getRelativeLocaleUrl(language, "articles"),
  },
  {
    title: "About",
    path: getRelativeLocaleUrl(language, "about"),
  },
];
---

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href={getRelativeLocaleUrl(language, "")}
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <Logo color="stroke-primary-700" size="w-12 h-12" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >VoidBox</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <Hambuger color="fill-none" size="w-5 h-5" />
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        {
          items.map((item) =>
            item.path === currentPath ? (
              <li>
                <a
                  href={item.path}
                  class="block py-2 px-3 mt-1 text-white bg-primary-700 rounded md:bg-transparent md:text-primary-700 md:p-0 dark:text-white md:dark:text-primary-500"
                  aria-current="page"
                >
                  {item.title}
                </a>
              </li>
            ) : (
              <li>
                <a
                  href={item.path}
                  class="block py-2 px-3 mt-1 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-700 md:p-0 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >
                  {item.title}
                </a>
              </li>
            ),
          )
        }
        <li>
          <div class="flex px-2">
            <ThemeSwitcher />
            <button
              id="langToggle"
              class="bg-secondary-500 hover:bg-secondary-700 ml-2 font-normal text-sm text-white py-1.5 px-2 rounded focus:outline-none focus:shadow-outline"
              type="button"
            >
              {language === "en" ? "EN" : "TH"}
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <script is:inline> -->
<!--   document.getElementById("langToggle").addEventListener("click", function () { -->
<!--     if (this.innerText === "EN") { -->
<!--       this.innerText = "TH"; -->
<!--     } else { -->
<!--       this.innerText = "EN"; -->
<!--     } -->
<!--   }); -->
<!-- </script> -->
