---
import { getRelativeLocaleUrl } from "astro:i18n";
import Email from "@icons/email.astro";
import Modal from "@components/Modal.astro";
import Captcha from "@components/Captcha.tsx";

interface Props {
  language: string;
}
const { language } = Astro.props;
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <p
        class="mx-auto mb-8 max-w-2xl text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400"
      >
        Subscribe to our newsletter and stay up to date!
      </p>
      <form action="#">
        <div
          class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0"
        >
          <div class="relative w-full">
            <label
              for="email"
              class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Email address</label
            >
            <div
              class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
            >
              <Email
                color="fill-current"
                size="w-4 h-4 text-gray-500 dark:text-gray-400"
              />
            </div>
            <input
              class="block p-3 pl-9 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Enter your email"
              type="email"
              id="email"
              required=""
            />
          </div>
          <div>
            <!-- <button -->
            <!--   type="submit" -->
            <!--   class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" -->
            <!--   >Subscribe</button -->
            <!-- > -->
            <Modal />
          </div>
        </div>
        <div
          class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer dark:text-gray-300"
        >
          We care about the protection of your data. <a
            href={getRelativeLocaleUrl(language, "articles/privacy-policy/")}
            class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
            >Read our Privacy Policy</a
          >.
        </div>
      </form>
      <div class="mt-8">
        <Captcha />
      </div>
    </div>
  </div>
</section>
