---
interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;

import { getImage } from "astro:assets";

const optimizedImage = await getImage({
  src: image,
  width: "1216",
  height: "372",
  format: "avif",
});
---

<section
  class="bg-cover bg-center bg-no-repeat bg-blend-multiply my-16"
  style={`background-image: url(${optimizedImage.src}); --tw-bg-opacity: 1; background-color: rgba(55, 65, 81, var(--tw-bg-opacity));`}
>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-gray-200 md:text-4xl dark:text-white"
      >
        Page not found
      </p>
      <p class="mb-4 text-lg font-light text-gray-400 dark:text-gray-400">
        Sorry, we couldn't find the page you were looking for.
      </p>
    </div>
  </div>
</section>
