---
import { getRelativeLocaleUrl } from "astro:i18n";
import Right from "@icons/right.astro";
import Left from "@icons/left.astro";
interface Props {
  currentPage: number;
  totalPosts: number;
  disablePrevious: boolean;
  disableNext: boolean;
  language: string;
  pathPrependWith?: string;
  path: string;
}

const {
  currentPage,
  totalPosts,
  disablePrevious,
  disableNext,
  language,
  pathPrependWith,
  path,
} = Astro.props;

const currentPath =
  getRelativeLocaleUrl(language, path, {
    prependWith: pathPrependWith,
  }) + "?page=";
---

<div class="mb-8 flex flex-col items-center">
  <span class="text-sm text-gray-700 dark:text-gray-400">
    Showing{" "}
    <span class="font-semibold text-gray-900 dark:text-white">
      {totalPosts > 0 ? currentPage * 4 - 3 : 0}
    </span>{" "}
    to
    <span class="font-semibold text-gray-900 dark:text-white">
      {
        totalPosts > 4
          ? currentPage * 4 > totalPosts
            ? totalPosts
            : currentPage * 4
          : totalPosts
      }
    </span>{" "}
    of{" "}
    <span class="font-semibold text-gray-900 dark:text-white">
      {totalPosts}
    </span>{" "}
    results
  </span>
  <div class="xs:mt-0 mt-2 inline-flex">
    {
      totalPosts > 4 && (
        <>
          <a
            href={currentPath + (currentPage - 1)}
            class={
              disablePrevious
                ? "pointer-events-none flex h-8 items-center justify-center rounded-s border-0 border-s border-gray-100 bg-gray-50 px-3 text-sm font-medium text-gray-400"
                : "flex h-8 items-center justify-center rounded-s border-0 border-s border-primary-700 bg-primary-800 px-3 text-sm font-medium text-white hover:bg-primary-900 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-50 dark:hover:bg-primary-700 dark:hover:text-white"
            }
          >
            <Left
              color="fill-none stroke-current"
              size="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            />
            Prev
          </a>
          <a
            href={currentPath + (currentPage + 1)}
            class={
              disableNext
                ? "pointer-events-none flex h-8 items-center justify-center rounded-e border-0 border-s border-gray-100 bg-gray-50 px-3 text-sm font-medium text-gray-400"
                : "flex h-8 items-center justify-center rounded-e border-0 border-s border-primary-700 bg-primary-800 px-3 text-sm font-medium text-white hover:bg-primary-900 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-50 dark:hover:bg-primary-700 dark:hover:text-white"
            }
          >
            Next
            <Right
              color="fill-none stroke-current"
              size="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            />
          </a>
        </>
      )
    }
  </div>
</div>
