---
import Sun from "@icons/sun.astro";
import Moon from "@icons/moon.astro";

import ThemeUpdate from "@components/theme/ThemeUpdate";

const size = "w-5 h-5";
---

<div id="theme-switcher">
  <ThemeUpdate client:click="#theme-switcher" />
  <button
    type="button"
    class="inline-flex items-center rounded-full border border-primary-700 p-1 text-center text-sm font-medium hover:bg-primary-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-500 dark:hover:text-white dark:focus:ring-primary-800"
  >
    <div id="darkTheme">
      <Sun color="mt-auto fill-current" size={size} />
    </div>
    <div id="lightTheme">
      <Moon color="mt-auto fill-current" size={size} />
    </div>

    <span class="sr-only">Icon description</span>
  </button>
</div>

<script is:inline>
  if (localStorage.getItem("settings:theme") === "dark") {
    document.documentElement.classList.add("dark");
    document.documentElement.classList.remove("light");
    localStorage.setItem("settings:theme", "dark");
    document.querySelector("#lightTheme")?.classList.add("hidden");
    document.querySelector("#darkTheme")?.classList.remove("hidden");
  } else {
    document.documentElement.classList.remove("dark");
    document.documentElement.classList.add("light");
    localStorage.setItem("settings:theme", "light");
    document.querySelector("#darkTheme")?.classList.add("hidden");
    document.querySelector("#lightTheme")?.classList.remove("hidden");
  }
</script>

<script>
  document
    .querySelector("#theme-switcher")
    ?.addEventListener("click", function () {
      let element: HTMLElement = document.querySelectorAll(
        "#theme-update",
      )[0] as HTMLElement;
      element.click();
    });
</script>
