---
import Base from "@layouts/Base.astro";
import BlogList from "@components/BlogList.astro";

import { getCollection } from "astro:content";
// TODO: #001 move this to utils?
const posts = await getCollection("blogs", ({ data }) => {
  if (import.meta.env.PROD) {
    return data.draft !== true;
  } else {
    return true;
  }
});
---

<Base title="Blog">
  <div class="max-w-5xl mt-16 mx-auto min-w-[75%]">
    <h1 class="mb-8 text-6xl">Blog</h1>
    <BlogList posts={posts} />
  </div>
</Base>
