---
import Content from "@layouts/Content.astro";
import BlogList from "@components/BlogList.astro";
import { description } from "@utils/enum";

import { getCollection } from "astro:content";
// TODO: #001 move this to utils?
const posts = await getCollection("blogs", ({ data }) => {
  if (import.meta.env.PROD) {
    return data.draft !== true;
  } else {
    return true;
  }
});
---

<Content title="Blog" description={description}>
  <h1 class="mb-8 text-6xl">Blog</h1>
  <BlogList posts={posts} />
</Content>
