---
import Content from "@layouts/Content.astro";
import BlogList from "@components/BlogList.astro";
import { description } from "@utils/enum";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");

  let tags: string[] = [];

  posts.forEach((post) => {
    if (post.data.tags) {
      tags = [...tags, ...post.data.tags];
    }
  });

  return tags.map((tag) => ({
    params: {
      tag: tag.toLowerCase(),
    },
  }));
}

const { tag } = Astro.params;

let posts = await getCollection("blogs");
posts = posts.filter((post) => {
  let hasTag = false;
  post.data.tags?.forEach((postTag) => {
    if (postTag.toLowerCase() === tag) {
      hasTag = true;
    }
  });
  return hasTag;
});
---

<Content title={`${tag} Blog Post`} description={description}>
  <h1 class="mb-8 text-6xl">Blog</h1>
  <p class="mb-8 text-2xl">Tag: {tag}</p>
  <BlogList posts={posts} />
</Content>
