---
import type { MarkdownLayoutProps } from "astro";
import type { BlogPostFrontmatter } from "@types";
import Base from "./Base.astro";
import { formattedDate } from "@utils";

type Props = MarkdownLayoutProps<BlogPostFrontmatter>;

const { title, date, draft } = Astro.props.frontmatter;
---

<Base title="Blog post">
  <div class="mb-8">
    {
      draft && (
        <span class="bg-red-700 text-white inline-block px-2 mb-4">
          [Draft]
        </span>
      )
    }

    <h1 class="text-3xl mb-2">{title}</h1>
    <p>{formattedDate(date)}</p>
  </div>
  <div class="prose">
    <slot />
  </div>
</Base>
