---
export const prerender = true;

import Content from "@layouts/Content.astro";
import { Comments } from "@components/Comment";
import { formattedDate } from "@utils/utils";

const { created, draft, tags, title } = Astro.props;
---

<!-- TODO: pass description to the `Content`, use in meta tag for SEO -->
<Content title="Blog post">
  <div class="mb-8">
    {
      draft && (
        <span class="bg-error-content text-primary inline-block px-2 mb-4">
          [Draft]
        </span>
      )
    }

    {
      tags && (
        <div class="mb-4">
          {tags.map((tag: string) => (
            <a
              href={`/blogs/tag/${tag.toLowerCase()}`}
              class="inline-block bg-primary-focus rounded-full px-3 py-1 text-sm font-semibold text-primary-content mr-2 mb-2"
            >
              #{tag}
            </a>
          ))}
        </div>
      )
    }

    <h1 class="text-4xl mb-2">{title}</h1>
    <p class="text-sm mb-2">{formattedDate(created)}</p>
  </div>

  <div class="prose pb-[10%]">
    <slot />
  </div>
  <Comments client:visible />
</Content>
