---
import Base from "@layouts/Base.astro";
const { title } = Astro.props;
---

<Base title={title}>
  <div
    class="max-w-5xl pt-16 px-[10%] mx-auto min-w-[80%] bg-base-300 min-h-screen"
  >
    <slot />
  </div>
</Base>
