---
import Base from "@layouts/Base.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<Base title={title} description={description}>
  <div
    class="max-w-5xl pt-16 px-[10%] mx-auto lg:min-w-[80%] bg-base-200 flex-grow"
  >
    <slot />
  </div>
</Base>
